@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('../../styles/src/index.css');
@import 'highlight.js/styles/github-dark.css';
@import 'tailwindcss';

@theme {
  /* Font family */
  --font-display: 'Geist', sans-serif;
  --font-display-mono: 'Geist Mono', monospace;

  /* Rounded sizes */
  --radius-size-xs: 0.25rem;
  --radius-size-sm: 0.375rem;
  --radius-size-md: 0.5rem;
  --radius-size-lg: 0.75rem;

  /* Light theme colors */
  --color-background: #fff;
  --color-font: #0a0a0a;
  --color-primary: #0a0a0a;
  --color-primary-foreground: #fff;
  --color-secondary: color-mix(in srgb, #fff, #0a0a0a 8%);
  --color-secondary-foreground: #0a0a0a;
  --color-destructive: #e53935;
  --color-destructive-foreground: #fff;

  /* Dark theme colors */
  --color-background-dark: #0a0a0a;
  --color-font-dark: #fff;
  --color-bg-dark: #0a0a0a;
  --color-primary-dark: #fff;
  --color-primary-foreground-dark: #0a0a0a;
  --color-secondary-dark: color-mix(in srgb, #0a0a0a, #fff 8%);
  --color-secondary-foreground-dark: #fff;
  --color-destructive-dark: #ff6659;
  --color-destructive-foreground-dark: #0a0a0a;
}
