<ng-content select="[b-attached-box-trigger]" />
<div
  #content
  class="b-attached-box-content"
  [class]="adjustedPosition()"
  [class.visible]="isContentVisible()"
  [style.--gap.px]="gap()"
  [style.--duration]="animationParams().duration"
  [style.--enter-delay]="animationParams().enterDelay"
  [style.--leave-delay]="animationParams().leaveDelay"
  [style.--scale-from]="animationParams().scaleFrom"
  [style.--scale-to]="animationParams().scaleTo"
  [style.--translate-from]="animationParams().translateFrom"
  [style.--translate-to]="animationParams().translateTo">
  <ng-content select="[b-attached-box-content]" />
</div>
