b-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);

  b-card-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    b-card-title {
      font-size: 1.3rem;
      font-weight: bold;
    }

    b-card-description {
      font-size: 1rem;
      opacity: 0.7;
    }
  }

  b-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  b-card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
