b-combobox {
  button {
    display: flex;
    align-items: center;
    text-align: start;
    padding-right: 0.5rem !important;
    width: 100%;
    gap: 0.3rem !important;

    span {
      flex: 1;
      text-align: start;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.cdk-overlay-pane b-command {
  /* Overlay Animations */
  opacity: 0;

  &.b-overlay-bottom,
  &.b-overlay-top,
  &.b-overlay-left,
  &.b-overlay-right {
    transition:
      transform 150ms ease-in-out,
      opacity 150ms ease-in-out;
    opacity: 1;
  }

  &.b-overlay-bottom {
    transform: translateY(5px);

    &.b-overlay-leave {
      transform: translateY(0);
      opacity: 0;
    }
  }

  &.b-overlay-top {
    transform: translateY(-5px);

    &.b-overlay-leave {
      transform: translateY(0);
      opacity: 0;
    }
  }

  &.b-overlay-left {
    transform: translateX(-5px);

    &.b-overlay-leave {
      transform: translateX(0);
      opacity: 0;
    }
  }

  &.b-overlay-right {
    transform: translateX(5px);

    &.b-overlay-leave {
      transform: translateX(0);
      opacity: 0;
    }
  }
}
