b-dialog {
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: calc(var(--radius) + 0.5rem);
  padding: 1rem;
  animation: b-dialog-enter 150ms ease-in-out;
  max-width: 90vw;

  &.leaving {
    transform: scale(0.9);
    opacity: 0;
    transition:
      transform 150ms ease-in-out,
      opacity 150ms ease-in-out;
  }
}

.b-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.08);
  animation: b-dialog-backdrop-enter 150ms ease-in-out;
}

:has(b-dialog.leaving) .b-dialog-backdrop {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

@keyframes b-dialog-enter {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes b-dialog-backdrop-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
