b-dialog-content {
  &.entering {
    animation: entering 150ms ease-in-out;
  }

  &.leaving {
    animation: leaving 150ms ease-in-out;
  }
}

@keyframes entering {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes leaving {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.b-dialog-content-backdrop {
  @apply fixed inset-0 bg-black/20 dark:bg-black/50;
  animation: b-dialog-backdrop-entering 150ms ease-in-out;
}

:has(b-dialog-content.leaving) .b-dialog-content-backdrop {
  animation: b-dialog-backdrop-leaving 150ms ease-in-out;
}

@keyframes b-dialog-backdrop-entering {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes b-dialog-backdrop-leaving {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
