b-input-group {
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  box-sizing: border-box;
  background-color: var(--input-background);
  border: 1px solid var(--border-color, transparent);

  input[b-input] {
    border-left: 0;
    border-right: 0;
    outline-width: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    width: 100%;
  }

  input[b-input]:focus-visible {
    outline: 2px solid var(--primary, #0a0a0a);
    outline-offset: 2px;

    &.ng-invalid {
      outline-color: var(--error-foreground, #c40000ab);
    }
  }

  input[b-input]:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:has(input[b-input].ng-invalid.ng-touched) {
    color: var(--error-foreground);
    background-color: var(--error);
    border-color: var(--error-border-color);

    button[b-button] {
      color: var(--error-foreground);
      background-color: var(--error);
      border: 1px solid var(--error-border-color);
    }

    i svg {
      stroke: var(--error-foreground);
    }
  }

  &:has(.size-1) {
    padding: 0.357rem 0.5rem;
    height: 1.714rem;
    gap: 0.5rem;
    font-size: 0.857rem;
  }

  &:has(.size-2) {
    padding: 0.5rem 0.75rem;
    height: 2.286rem;
    gap: 0.75rem;
    font-size: 1rem;
  }

  &:has(.size-3) {
    padding: 0.786rem 1rem;
    min-height: 2.857rem;
    gap: 1rem;
    font-size: 1.143rem;
  }

  &:has(button[b-button]:last-child) {
    padding-right: 0.22rem;
  }

  &:has(button[b-button]:first-child) {
    padding-left: 0.285rem;
  }

  button[b-button] {
    border-radius: calc(var(--radius) - 0.2rem);
  }
}
