input[b-input] {
  background-color: var(--input-background, #e0e0e0);
  border-radius: var(--radius, 0.5rem);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color, transparent);
  transition:
    opacity 0.2s,
    background-color 0.2s,
    border-color 0.2s;
  font-size: 1rem;
  color: var(--input-foreground, #798194);
  font-family: 'Geist', sans-serif;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='text'],
  &[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  &:focus-visible {
    outline: 2px solid var(--primary, #0a0a0a);
    outline-offset: 2px;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &.ng-invalid.ng-touched {
    color: var(--error-foreground, #c40000ab);
    background-color: var(--error, #fff0f0);
    border-color: var(--error-border-color, #c40000ab);

    &:focus-visible {
      outline-color: var(--error-foreground, #c40000ab);
    }

    &::placeholder {
      color: var(--error-foreground, #c40000ab);
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.size-1 {
    padding: 0.357rem 0.5rem;
    height: 1.714rem;
    font-size: 0.857rem;
  }

  &.size-2 {
    padding: 0.429rem 0.75rem;
    height: 2.286rem;
    font-size: 1rem;
  }

  &.size-3 {
    padding: 0.786rem 1rem;
    height: 2.857rem;
    font-size: 1.143rem;
  }
}
