b-menu {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);

  &:not(:has(b-menu-group)) {
    gap: 0.2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cdk-overlay-container b-menu {
  border: 1px solid var(--border-color);
  animation: fadeIn 0.2s ease-in;
  background-color: var(--background);

  b-menu-item {
    border-radius: calc(var(--radius) - 0.25rem);
  }

  &:not(:has(b-menu-group)) {
    padding: 0.2rem;
  }
}
