li[b-option] {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  color: var(--foreground, #798194);
  box-sizing: border-box;
  cursor: pointer;
  min-width: 100%;
  align-items: center;
  border-radius: clamp(0rem, calc(var(--radius, 0.5rem) - 0.25rem), 0.5rem);

  &:focus,
  &:hover,
  &.cdk-option-highlighted {
    background-color: color-mix(
      in srgb,
      var(--secondary) 50%,
      var(--background)
    );
  }

  &[aria-selected='true'] {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
  }
}
