b-otp {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

input[otp-digit] {
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 0 1px var(--border-color, #ccc);
  border: none;
  background: var(--input-background, #fff);
  transition: box-shadow 0.2s;
}

input[otp-digit]:focus {
  box-shadow: 0 0 0 2px var(--primary, #007bff);
  outline: none;
}

input[otp-digit]:disabled {
  background-color: var(--input-background);
  color: var(--input-foreground);
  opacity: 0.6;
  pointer-events: none;
}

input[otp-digit]::-webkit-outer-spin-button,
input[otp-digit]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[otp-digit] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[otp-digit] {
  background-color: var(--input-background);
  border-radius: var(--radius, 0.5rem);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color, transparent);
  transition:
    opacity 0.2s,
    background-color 0.2s,
    border-color 0.2s;
  font-size: 1rem;
  color: var(--input-foreground);
  font-family: 'Geist', sans-serif;
  text-align: center;

  &:read-only:not(:disabled) {
    border-width: 0px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  &:focus-visible:not(:read-only) {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.size-1 {
    width: 1.714rem;
    height: 1.714rem;
    font-size: 0.857rem;
    padding: 0;
  }

  &.size-2 {
    width: 2.286rem;
    height: 2.286rem;
    font-size: 1rem;
    padding: 0;
  }

  &.size-3 {
    width: 2.857rem;
    height: 2.857rem;
    font-size: 1.143rem;
    padding: 0;
  }
}

b-otp.ng-invalid.ng-touched input[otp-digit],
b-otp.ng-invalid.ng-dirty input[otp-digit] {
  color: var(--error-foreground);
  background-color: var(--error);
  border-color: var(--error-border-color);
  outline: 2px solid var(--error-foreground);
  outline-offset: 2px;
}

b-otp.ng-invalid.ng-touched input[otp-digit]:focus-visible,
b-otp.ng-invalid.ng-dirty input[otp-digit]:focus-visible {
  outline: 2px solid var(--error-foreground);
  outline-offset: 2px;
}

b-otp.ng-invalid.ng-touched input[otp-digit]::placeholder,
b-otp.ng-invalid.ng-dirty input[otp-digit]::placeholder {
  color: var(--error-foreground);
}
