b-otp {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

input[b-otp-digit] {
  background-color: var(--input-background);
  border-radius: var(--radius, 0.5rem);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color, transparent);
  transition:
    opacity 0.2s,
    background-color 0.2s,
    border-color 0.2s;
  font-size: 1rem;
  color: var(--input-foreground);
  font-family: 'Geist', sans-serif;
  text-align: center;

  &:read-only:not(:disabled) {
    border-width: 0px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='text'],
  &[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  &:focus-visible:not(:read-only) {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    color: var(--error-foreground);
    background-color: var(--error);
    border-color: var(--error-border-color);

    &:focus-visible {
      outline-color: var(--error-foreground);
    }

    &::placeholder {
      color: var(--error-foreground);
    }
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.size-1 {
    width: 1.714rem;
    height: 1.714rem;
    font-size: 0.857rem;
    padding: 0;
  }

  &.size-2 {
    width: 2.286rem;
    height: 2.286rem;
    font-size: 1rem;
    padding: 0;
  }

  &.size-3 {
    width: 2.857rem;
    height: 2.857rem;
    font-size: 1.143rem;
    padding: 0;
  }
}

b-otp.ng-invalid.ng-touched input[b-b-otp-digit],
b-otp.ng-invalid.ng-dirty input[b-b-otp-digit] {
  color: var(--error-foreground);
  background-color: var(--error);
  border-color: var(--error-border-color);
  outline: 2px solid var(--error-foreground);
  outline-offset: 2px;
}

b-otp.ng-invalid.ng-touched input[b-b-otp-digit]:focus-visible,
b-otp.ng-invalid.ng-dirty input[b-b-otp-digit]:focus-visible {
  outline: 2px solid var(--error-foreground);
  outline-offset: 2px;
}

b-otp.ng-invalid.ng-touched input[b-b-otp-digit]::placeholder,
b-otp.ng-invalid.ng-dirty input[b-b-otp-digit]::placeholder {
  color: var(--error-foreground);
}
