b-select {
  button {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding-inline: 0.857rem 0.5rem !important;
  }
}

.cdk-overlay-pane {
  opacity: 0;
}

.cdk-overlay-bottom,
.cdk-overlay-top,
.cdk-overlay-left,
.cdk-overlay-right {
  transition:
    transform 150ms ease-in-out,
    opacity 150ms ease-in-out;
  opacity: 1;
}

.cdk-overlay-bottom {
  transform: translateY(5px);

  &.cdk-overlay-leave {
    transform: translateY(0);
    opacity: 0;
  }
}

.cdk-overlay-top {
  transform: translateY(-5px);

  &.cdk-overlay-leave {
    transform: translateY(0);
    opacity: 0;
  }
}

.cdk-overlay-left {
  transform: translateX(-5px);

  &.cdk-overlay-leave {
    transform: translateX(0);
    opacity: 0;
  }
}

.cdk-overlay-right {
  transform: translateX(5px);

  &.cdk-overlay-leave {
    transform: translateX(0);
    opacity: 0;
  }
}
