b-select {
  @apply flex gap-1;

  button[b-select-trigger] {
    @apply font-medium shadow-xs transition-colors duration-150 flex items-center justify-center gap-x-2 disabled:opacity-50 disabled:cursor-not-allowed;
    @apply bg-transparent text-primary inset-ring-1 inset-ring-secondary hover:bg-primary/5 flex-1;
    @apply dark:text-primary-dark dark:inset-ring-secondary-dark dark:hover:bg-primary-dark/5;

    b-select-value {
      @apply flex-1 text-start whitespace-nowrap overflow-hidden text-ellipsis;
      @apply dark:text-primary-dark;
    }

    svg {
      @apply -mx-1;
    }
  }

  &.b-size-sm button[b-select-trigger] {
    @apply text-xs px-2 py-1 rounded-size-sm;

    svg {
      @apply size-4;
    }
  }

  &.b-size-md button[b-select-trigger] {
    @apply text-base px-3 py-1.5 rounded-size-md;
    svg {
      @apply size-5;
    }
  }

  &.b-size-lg button[b-select-trigger] {
    @apply text-lg  px-4 py-2.5 rounded-size-lg;

    svg {
      @apply size-6;
    }
  }

  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    button {
      @apply text-destructive inset-ring-destructive/20 bg-destructive/10 hover:bg-destructive/20;
      @apply dark:text-destructive-dark dark:inset-ring-destructive-dark/20 dark:bg-destructive-dark/10 dark:hover:bg-destructive-dark/20;

      b-select-value {
        @apply text-destructive;
        @apply dark:text-destructive-dark;
      }

      &:focus-visible {
        @apply outline-destructive;
        @apply dark:outline-destructive-dark;
      }
    }
  }
}

ul[b-select-content] {
  @apply list-none box-border m-0 relative bg-background shadow-xs inset-ring-1 inset-ring-secondary flex flex-col w-full overflow-y-auto;
  @apply dark:bg-background-dark dark:shadow-xs dark:inset-ring-secondary-dark;

  .no-options-message {
    @apply py-1 px-2 text-sm;
    @apply dark:text-primary-dark;
  }

  &.b-select-content-entering-top {
    animation: overlay-entering-top 0.1s ease forwards;
  }

  &.b-select-content-leaving-top {
    animation: overlay-leaving-top 0.1s ease forwards;
  }

  &.b-select-content-entering-bottom {
    animation: overlay-entering-down 0.1s ease forwards;
  }

  &.b-select-content-leaving-bottom {
    animation: overlay-leaving-down 0.1s ease forwards;
  }

  &.b-select-content-entering-left {
    animation: overlay-entering-left 0.1s ease forwards;
  }

  &.b-select-content-leaving-left {
    animation: overlay-leaving-left 0.1s ease forwards;
  }

  &.b-select-content-entering-right {
    animation: overlay-entering-right 0.1s ease forwards;
  }

  &.b-select-content-leaving-right {
    animation: overlay-leaving-right 0.1s ease forwards;
  }
}

.b-size-sm ul[b-select-content] {
  @apply text-xs p-0.5 gap-0.5 rounded-size-sm;
}
.b-size-md ul[b-select-content] {
  @apply text-base p-1 gap-1 rounded-size-md;
}
.b-size-lg ul[b-select-content] {
  @apply text-lg p-1.5 gap-1.5 rounded-size-lg;
}

@keyframes overlay-entering-top {
  from {
    opacity: 0;
    transform: translateY(5px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes overlay-leaving-top {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(5px) scale(0.95);
  }
}

@keyframes overlay-entering-down {
  from {
    opacity: 0;
    transform: translateY(-5px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes overlay-leaving-down {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-5px) scale(0.95);
  }
}

@keyframes overlay-entering-left {
  from {
    opacity: 0;
    transform: translateX(5px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes overlay-leaving-left {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateX(5px) scale(0.95);
  }
}

@keyframes overlay-entering-right {
  from {
    opacity: 0;
    transform: translateX(-5px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes overlay-leaving-right {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateX(-5px) scale(0.95);
  }
}
