b-select {
  button {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding-right: 0.5rem !important;
    text-align: start;
    gap: 0.3rem !important;
    width: 100% !important;
  }
}
