b-tab {
  padding-inline: 0.857rem;
  height: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: calc(var(--radius) - 0.2rem);

  &[aria-selected='true'] {
    background-color: var(--background);
    border-color: var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 2px 0px;
  }

  &:hover:not(.cdk-option-active) {
    background-color: color-mix(in srgb, var(--bg-color), var(--text-color) 5%);
    border-color: color-mix(in srgb, var(--bg-color), var(--text-color) 5%);
  }
}

b-tabs:focus-visible {
  b-tab.cdk-option-active {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
    z-index: 1;
  }
}
