b-tab {
  padding-inline: 0.857rem;
  height: 2.286rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  cursor: pointer;

  &.cdk-option-active {
    border-bottom-color: var(--text-color);
  }

  &:hover:not(.cdk-option-active) {
    border-bottom-color: color-mix(
      in srgb,
      var(--bg-color),
      var(--text-color) 50%
    );
  }
}

b-tabs:focus-visible {
  b-tab.cdk-option-active {
    outline: 2px solid var(--text-color);
    border-radius: var(--radius);
    border-bottom-color: transparent;
  }
}
