b-tabs {
  display: flex;
  gap: 0.2rem;
  border-radius: var(--radius);
  outline-width: 0;
  border: 1px solid var(--border-color);
  padding: 0.2rem;
  box-sizing: border-box;
  position: relative;
  height: 2.286rem;
}
