textarea[b-textarea] {
  resize: none;
  background-color: var(--input-background, #e0e0e0);
  border-radius: var(--radius, 0.5rem);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color, transparent);
  transition:
    opacity 0.2s,
    background-color 0.2s,
    border-color 0.2s;
  font-size: 1rem;
  color: var(--input-foreground);
  font-family: 'Geist', sans-serif;

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    color: var(--error-foreground);
    background-color: var(--error);
    border-color: var(--error-border-color);

    &:focus-visible {
      outline-color: var(--error-foreground);
    }

    &::placeholder {
      color: var(--error-foreground);
    }
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.size-1 {
    padding: 0.357rem 0.5rem;
    font-size: 0.857rem;
  }

  &.size-2 {
    padding: 0.429rem 0.75rem;
    font-size: 1rem;
  }

  &.size-3 {
    padding: 0.786rem 1rem;
    font-size: 1.143rem;
  }
}
