b-tooltip {
  white-space: nowrap;
  background: var(--input-background);
  border-radius: var(--radius);

  &.size-1 {
    padding: 0.357rem 0.5rem;
    font-size: 0.857rem;
  }

  &.size-2 {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }

  &.size-3 {
    padding: 0.786rem 1rem;
    font-size: 1.143rem;
  }

  /* Tooltip Animations */
  opacity: 0;
  transform: translateY(0); /* Reset transform */

  &.b-tooltip-bottom,
  &.b-tooltip-top,
  &.b-tooltip-left,
  &.b-tooltip-right {
    transition:
      transform 150ms ease-in-out,
      opacity 150ms ease-in-out;
    opacity: 1;
  }

  &.b-tooltip-bottom {
    transform: translateY(5px);

    &.b-tooltip-leave {
      transform: translateY(0);
      opacity: 0;
    }
  }

  &.b-tooltip-top {
    transform: translateY(-5px);

    &.b-tooltip-leave {
      transform: translateY(0);
      opacity: 0;
    }
  }

  &.b-tooltip-left {
    transform: translateX(-5px);

    &.b-tooltip-leave {
      transform: translateX(0);
      opacity: 0;
    }
  }

  &.b-tooltip-right {
    transform: translateX(5px);

    &.b-tooltip-leave {
      transform: translateX(0);
      opacity: 0;
    }
  }
}
