b-tree-node {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &.active {
    section {
      background-color: var(--input-background);
    }
  }

  section {
    padding-inline: 0.75rem;
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.286rem;
    box-sizing: border-box;
    gap: 0.75rem;
    user-select: none;

    i {
      cursor: move;
    }

    &:hover {
      background-color: var(--input-background);
    }

    .projected-content {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 0.75rem;
      padding: 0.5rem 0;
      cursor: pointer;
    }
  }

  b-tree {
    padding-left: 1rem;
    box-sizing: border-box;
  }

  &.cdk-drag-preview {
    height: inherit;
    width: inherit;
    overflow: hidden;
    box-shadow: none;

    & > section {
      padding-inline: 0.75rem;
      border-radius: var(--radius);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.286rem;
      box-sizing: border-box;
      gap: 0.8rem;
      user-select: none;

      .projected-content {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 0.75rem;
        padding: 0.5rem 0;
        cursor: pointer;
      }
    }
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }
}
