@import 'tailwindcss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  /* Rounded sizes */
  --radius-size-xs: 0.25rem; /* similar a rounded-sm */
  --radius-size-sm: 0.375rem; /* similar a rounded-md */
  --radius-size-md: 0.5rem; /* similar a rounded-lg */
  --radius-size-lg: 0.75rem; /* similar a rounded-xl */

  /* Light theme colors */
  --color-background: #fff;
  --color-font: #0a0a0a;
  --color-primary: #0a0a0a;
  --color-primary-foreground: #fff;
  --color-secondary: color-mix(in srgb, #fff, #0a0a0a 8%);
  --color-secondary-foreground: #0a0a0a;
  --color-destructive: #e53935;
  --color-destructive-foreground: #fff;
  --color-success: #22c55e;
  --color-success-foreground: #fff;
  --color-warning: #facc15;
  --color-warning-foreground: #0a0a0a;
  --color-info: #3b82f6;
  --color-info-foreground: #fff;

  /* Dark theme colors */
  --color-background-dark: #0a0a0a;
  --color-font-dark: #fff;
  --color-bg-dark: #0a0a0a;
  --color-primary-dark: #fff;
  --color-primary-foreground-dark: #0a0a0a;
  --color-secondary-dark: color-mix(in srgb, #0a0a0a, #fff 8%);
  --color-secondary-foreground-dark: #fff;
  --color-destructive-dark: #ff6659;
  --color-destructive-foreground-dark: #0a0a0a;
  --color-success-dark: #166534;
  --color-success-foreground-dark: #fff;
  --color-warning-dark: #eab308;
  --color-warning-foreground-dark: #0a0a0a;
  --color-info-dark: #2563eb;
  --color-info-foreground-dark: #fff;
}

@import './components/alert.component.css';
@import './components/badge.css';
@import './components/attached-box.component.css';
@import './components/badge.css';
@import './components/drawer.component.css';
@import './components/button-group.component.css';
@import './components/button.css';
@import './components/checkbox.component.css';
@import './components/color-picker.component.css';
@import './components/input-group.component.css';
@import './components/input.component.css';
@import './components/label.component.css';
@import './components/menu.css';
@import './components/range.component.css';
@import './components/row-item.component.css';
@import './components/row.component.css';
@import './components/select.css';
@import './components/combobox.component.css';
@import './components/command.component.css';
@import './components/command-options.component.css';
@import './components/option.component.css';
@import './components/sheet.component.css';
@import './components/spinner.css';
@import './components/switch.css';
@import './components/tab.component.css';
@import './components/table.component.css';
@import './components/tabs.component.css';
@import './components/textarea.component.css';
@import './components/tooltip.component.css';
@import './components/tree-node.component.css';
@import './components/tree.component.css';
@import './components/dialog.component.css';
@import './components/card.css';
@import './components/otp.component.css';
